<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478561538041-jhoiisjugouchlbv6iv8ov2lk7260836.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478561538041-jhoiisjugouchlbv6iv8ov2lk7260836</string>
	<key>API_KEY</key>
	<string>AIzaSyCsYrPgC3iN6qoGsuW7GzV2Y2U37Obvyro</string>
	<key>GCM_SENDER_ID</key>
	<string>478561538041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.milind96.Knock-Knock</string>
	<key>PROJECT_ID</key>
	<string>knock-knock-33f7b</string>
	<key>STORAGE_BUCKET</key>
	<string>knock-knock-33f7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478561538041:ios:5435ce1a3a50615148f728</string>
	<key>DATABASE_URL</key>
	<string>https://knock-knock-33f7b.firebaseio.com</string>
</dict>
</plist>